/* GLOBAL */
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: poppins, sans-serif; 
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    max-width: 100%;
}

.button {
    position: relative;
    font-weight: 600;
    font-size: 15px;
    font-family: poppins, sans-serif;    
    color: #ffffff;
    padding: 12px 24px;
    border: 0;
    text-align: center;
    border-radius: 50px;
    background-image: linear-gradient(to right,#43cae9 0%,#38f9d7 100%);
    cursor: pointer;
    text-decoration: none;
    transition: all .1s ease-out 0s;
}

.button:hover {
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(to left,#43cae9 0%,#38f9d7 100%);
}

.container-fluid {
    padding: 0;
}

.main-section {
    text-align: center;
    padding: 90px 0;
}

.grey-section {
    background-color: #F4F6F7;
}

.section-title {
    font-size: 44px;
    font-weight: 500;
    color: #121212;
    line-height: 55px;
}

.section-subtitle {
    font-size: 16px;
    line-height: 24px;
    color: #6c6c6c;
    margin-top: 24px;
}

.card {
    box-shadow: 0 3px 6px 0 rgba(18, 1, 1, 0.379);
    padding: 24px 20px 38px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    transition: all .2s ease-in-out;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin-top: -4px;
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to right,#43cae9 0%,#38f9d7 100%);
    z-index: 999;
}

.header img {
    max-width: 150px;
}

.header .nav-item a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    padding: 11px 16px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    border-radius: 5px;
    margin: 14px 0;
}

.header .navbar-toggler {
    outline: none;
}

.header .navbar-toggler .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: #121212;
    margin: 5px 0;
    display: block;
    position: relative;
}

.header .navbar-collapse .nav-item {
    padding: 12px 0;
}

.header-spacer {
    height: 76px;
}

/* BANNER */
.banner {
    display: flex;
    align-items: center;
    text-align: center;
    height: calc(100vh - 76px);
    background-image: url(https://preview.uideck.com/items/smart-demo/assets/smart/assets/images/slider-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-title {
    font-size: 44px;
    font-weight: 600;
    color: #fff;
    line-height: 55px;
}

.banner-buttons li {
    display: inline-block;
    margin: 16px 8px 0;
}

.banner .download-button {
    position: relative;
    font-weight: 600;
    font-size: 15px;
    font-family: poppins, sans-serif;    
    color: #ffffff;
    padding: 12px 24px;
    text-align: center;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
    text-decoration: none;
    transition: all .1s ease-out 0s;
}

.banner .download-button:hover {
    background: rgba(255, 255, 255, 0.4);
}

/* Overwrite bootstrap styles for links */
a.button:not([href]):not([tabindex]) {
    color: #fff;
}

/* ABOUT */
.about-area .section-title-container {
    padding-bottom: 40px;
    margin-top: 30px;
    width: 100%;
}

.single-about .about-content {
    padding-left: 30px;
}

.single-about{
    margin-top: 30px;
}

.single-about .about-icon img{
    width: 120px;
}

.single-about .about-content .about-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    color:black;
}

.single-about .about-content .text-about{
    font-size: 16px;
    color:black;
    margin-top: 16px;
    margin: 0;
    padding: 0;
}

/* PORTFOLIO */
.portfolio-menu {
    padding-top: 30px;
}

.portfolio-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 24px;
}

.portfolio-menu li {
    color: #6c6c6c;
    font-weight: bolder;
    position: relative;
    padding: 12px 24px;
    cursor: pointer;
    transition: .2s all ease-in-out;
}

.portfolio-menu li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-image: linear-gradient(to right,#43cae9 0%,#38f9d7 100%);
    opacity: 0;
    transition: .3s all ease-in-out;
}

.portfolio-menu li:hover {
    color: #38f9d7;
}

.portfolio-menu li:hover::before {
    opacity: 1;
}

.single-portfolio {
    margin: 5px;
}

.single-portfolio img {
    margin-bottom: 20px;
    border-radius: 8px;
}

.single-portfolio h4 {
    font-weight: 600;
}

/* PRICING */
.pricing-cards .card {
    margin-top: 40px;
}

.pricing-cards .card:hover {
    margin-top: 36px;
}

.pricinig-card-faires h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    color: #121212;
    position: relative;
    margin-top: 24px;
}

.pricinig-card-caracteristics {
    text-align: left;
}

.pricinig-card-caracteristics li {
    font-size: 16px;
    line-height: 24px;
    color: #121212;
    margin-top: 16px;
}

.pricinig-card-caracteristics li i {
    color: #38f9d7;
    margin-right: 8px;
}

.pricinig-card-button-container {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

/* SUBSCRIBE */
.subscribe-container {
    display: flex;
    align-items: center;
    padding: 62px 78px;;
}

.subscribe-text h2 {
    font-size: 32px;
    margin: 0 0 12px;
}

.subscribe-text h4 {
    font-weight: 400;
    margin: 0;
}

.subscribe-form {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    border: thin solid #ccc;
    border-radius: 50px;
    padding: 4px;
}

.subscribe-form input {
    border: 0;
    outline: 0;
    width: 100%;
    padding: 0 24px;
    background: transparent;
    font-size: 16px;
}

/* TESTIMONIAL */
.testimonial .card {
    margin-top: 40px;
}

.testimonial-card-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.testimonial-card-text {
    font-size: 16px;
    line-height: 24px;
    color: #121212;
    padding-top: 20px;
    border-bottom: 1px solid #cbced1;
    padding-bottom: 24px;
}

.testimonial-name-role h3 {
    font-size: 18px;
    font-weight: 600;
    color: #121212;
    margin-top: 24px;
}

.testimonial-name-role span {
    font-size: 14px;
    line-height: 24px;
    color: #a4a4a4;
}

/* CLIENTS */
.logos-container {
    padding-top: 80px;
    padding-bottom: 80px;
}

/* CONTACT */
.contact-info-container,
.form {
    margin-top: 50px;
}

.contact-title {
    font-size: 24px;
    font-weight: 600;
    color: #121212;
}

.contact-text {
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    color: #6c6c6c;
}

.contact-info {
    margin-top: 40px;
}

.contact-info li {
    color: #6c6c6c;
    margin-top: 8px;
    font-size: 16px;
}

.contact-info li i {
    margin-right: 5px;
    color: #121212;
}

.form-input {
    margin-top: 15px;
}

.form-input .input-items {
    position: relative;
}

.form-input label {
    font-size: 12px;
    line-height: 18px;
    color: #6c6c6c;
    margin-bottom: 8px;
    display: inline-block;
}

.form-input .input-items input,
.form-input .input-items textarea {
    width: 100%;
    height: 44px;
    border: 2px solid #a4a4a4;
    padding-left: 44px;
    padding-right: 12px;
    position: relative;
    font-size: 16px;
    color: #6c6c6c;
}

.form-input .input-items textarea {
    padding-top: 8px;
    height: 130px;
    resize: none;
}

.form-input .input-items i {
    position: absolute;
    top: 11px;
    left: 13px;
    font-size: 20px;
    z-index: 9;
    color: #6c6c6c;
}

.contact .form button {
    margin-top: 20px;
}

/* FOOTER */
.footer-area .footer-widget {
    padding-top: 90px;
    padding-bottom: 120px;
}
  
.footer-link {
    margin-top: 32px;
}
  
.footer-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: black;
}
  
.footer-link ul {
    margin-top: 8px;
}
  
.footer-link ul li {
    list-style-type: none;
    box-sizing: border-box;
}
  
.footer-link ul li a {
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    color: black;
}
  
.footer-copyright {
    padding-top: 13px;
    padding-bottom: 23px;
}

.copyright{
    margin-top: 10px;
}

.footer-area .footer-copyright .social li a{
    font-size: 24px;
    display: inline-block;
}
  
.footer-logo{
    margin-top: 10px;
}

.text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0px;
    color: black;
}

.text a {
    color: #38f9d7; 
}
  
.footer-area .footer-copyright .social li{
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 24px;
}
  
.social a {
    color: #6c6c6c;
    text-decoration: none;
    transition: .2s color ease-in-out;
}

.social a:hover {
    color: #38f9d7; 
}